body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}

.container {
    background: #282828;
    width: 40rem;
    height: 40rem;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.players-list {
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    padding-top: 0.625rem;
}

.player-card {
    background: #3f3f3f;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    width: 25rem;
    align-items: center;
    gap: 2.5rem;
    box-shadow: 0 0 3px 3px #58bcad;
}

.name {
    background: #3f3f3f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex:1;
}

.name p {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
    flex: 1;
    text-align: left;
    color: #f0f0f0;
}

.autocomplete {
    width: 50%;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.timer {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #58bcad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #282828;
    margin: 0.625rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    padding: 0.625rem;
}

.club-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    padding: 0.5rem 0.9375rem;
    border-radius: 10px;
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    flex-direction: column;
    overflow-y: auto;
}

.club-connection{
    height: 1.25rem;
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    padding: 0.5rem 0.9375rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(188, 60, 60, 0.3);
}

.club-connection p {
    font-size: 0.75rem;
    font-weight: bold;
    flex: 0.9;
    color: #f0f0f0;
    text-align: center;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.25rem 2.5rem;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restart-btn {
    margin-top: 0.9375rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    background-color: #58bcad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.restart-btn:hover {
    background-color: #4aa294;
}

.notification-container {
    height: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

@keyframes slideDown {
    from {
        transform: translateY(-0.625rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-0.625rem);
        opacity: 0;
    }
}

.notification {
    background-color: #323232;
    color: #e0e0e0;
    font-size: 0.775rem;
    font-family: 'Arial', sans-serif;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: fit-content;
    margin: 0 2rem;
    animation: slideDown 0.3s ease-out, slideUp 0.3s ease-in 3s forwards;
    position: relative;
}
