body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos del contenedor */
.container {
    background: #282828;
    width: 700px; /* Ancho fijo */
    height: 800px; /* Alto fijo */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

/* Contenedor donde van las tarjetas, con scroll */
.players-list {
    flex: 1;
    overflow-y: auto; /* Habilita el scroll vertical */
    max-height: 100%;
    padding-right: 10px; /* Espacio para evitar que el scroll tape el contenido */
    padding-left: 10px;
    padding-top: 10px;
}

/* Tarjeta de cada jugador */
.player-card {
    background: #3f3f3f;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    width: 400px;
    align-items: center;
    gap: 100px;
    margin-bottom: 70px;
    box-shadow: 0 0 2px 2px #58bcad;
}

.player-card p {
    font-size: 18px;  /* Tamaño más grande */
    font-weight: bold; /* Texto en negrita */
    margin: 0;         /* Eliminamos márgenes innecesarios */
    flex: 1;           /* Hace que el texto use el espacio disponible */
    text-align: left;  /* Alineamos el texto a la izquierda */
    color: #f0f0f0;
}

.autocomplete {
    width: 50%;
    margin-bottom: 75px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.hidden-label {
    position: absolute;
    left: -9999px; /* Lo mueve fuera de la pantalla */
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.timer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #58bcad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #282828;
    margin: 10px auto; /* Centrado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos de los nombres de los jugadores */
.player-name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

.club-container {
    max-height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    flex-direction: column;
    overflow-y: auto;
}

.club-connection{
    height: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #3f3f3f;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.club-connection p {
    font-size: 12px;  /* Tamaño más grande */
    font-weight: bold; /* Texto en negrita */
    margin: 0;         /* Eliminamos márgenes innecesarios */
    flex: 1;           /* Hace que el texto use el espacio disponible */
    text-align: left;  /* Alineamos el texto a la izquierda */
    color: #f0f0f0;
}