<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootyNerd</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="player-name">Player1</span>

            <div class="counter">
                <span id="counterValue">30</span>
            </div>

            <span class="player-name">Player2</span>
        </div>

        <label for="playerInput" class="hidden-label">Nombre del jugador:</label>
        <input type="text" id="playerInput" placeholder="Escribe el nombre del jugador...">

        <div class="players-list">

            <div class="player-card">
                <img src="#" alt="Foto">
                <p>Nombre de Jugador</p>
            </div>

            <div class="club-connection">
                <img src="#" alt="Escudo Club">
                <p>Nombre Club</p>
            </div>

            <div class="player-card">
                <img src="#" alt="Foto">
                <p>Nombre de Jugador</p>
            </div>
            <!-- Más jugadores se agregarán aquí dinámicamente -->
        </div>
    </div>
</body>
</html>