<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootyNerd</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link
  rel="stylesheet"
  href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"
/>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="player-name">Player1</span>

            <div class="counter">
                <span id="counterValue">30</span>
            </div>

            <span class="player-name">Player2</span>
        </div>

        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" placeholder="Escribe el nombre del jugador...">
            <ul class="autocomplete-result-list"></ul>
        </div>


        <div class="players-list" id="players-list">

            <div class="player-card">
                <img src="#" alt="Foto">
                <p>Nombre de Jugador</p>
            </div>

            <div class="club-connection">
                <img src="#" alt="Escudo Club">
                <p>Nombre Club</p>
            </div>

            <div class="player-card">
                <img src="#" alt="Foto">
                <p>Nombre de Jugador</p>
            </div>
            <!-- Más jugadores se agregarán aquí dinámicamente -->
        </div>
    </div>

    <script>
        new Autocomplete('#autocomplete', {
            search : input => {
                console.log(input)
                const url = `/search/?players=${input}`
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            resolve(data.data)
                        })
                })
            },
            onSubmit : result => {
                addPlayer(result)
            }
        })

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie != '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0,name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken')

        function addPlayer(playerName){
            fetch('/validate_club/', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body: JSON.stringify({playerName: playerName})
            })
            .then((response) => {
                return response.json();
            })
            .then(data => {
                if (data.status === 200) {
                    createPlayerCard(data);
                } else {
                    alert("El jugador ingresado no tiene clubes en común.");
                }
            })
        }

        function createPlayerCard(data){
            let container = document.getElementById("players-list");
            let card = document.createElement("div");
            let connection = document.createElement("div")
            connection.classList.add("club-connection");
            connection.innerHTML = `<img src="#" alt="Escudo Club"><p>Nombre Club</p>`;
            card.classList.add("player-card");
            card.innerHTML = `<img src="#" alt="Foto"> <p>${data.player.name}</p>`;

            container.appendChild(connection);
            container.appendChild(card);

            card.scrollIntoView({ behavior: "smooth", block: "end" });
        }
    </script>
</body>
</html>