<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootyNerd</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    <link rel="shortcut icon" type="image/png" href='../static/images/favicon.ico'/>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="player-name">Player1</span>

            <div class="timer">
                <span id="timerValue"></span>
            </div>

            <span class="player-name">Player2</span>
        </div>

        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" placeholder="Escribe el nombre del jugador...">
            <ul class="autocomplete-result-list"></ul>
        </div>


        <div class="players-list" id="players-list">

            <div class="player-card">
                <img src="{{ first_player.player_photo_url }}" alt="Foto">
                <p>{{ first_player.player_name }}</p>
            </div>

            <!-- Javascript adds more player cards here -->
        </div>
    </div>

    <script src="../static/footy.js"></script>
</body>
</html>